#single-entry-content {
  :where(h2, h3, h4):not(:where([class~="not-prose"] *)) {
    @apply scroll-mt-10 lg:scroll-mt-24;
  }

  iframe {
    @apply max-w-full;
  }
}

.not-prose {
  @apply text-base font-normal text-neutral-900 dark:text-neutral-100;
}

.large-width {
  max-width: 1400px;
  margin: auto;
}

.post-title {
  color: #242e3f;
  text-transform: capitalize;
}

.heading-share-icon {
  background-color: rgba(249, 250, 251, .949);
  border-color: rgb(221 225 230)
}

.prod-child {
  -webkit-box-shadow: 0 4px 12px rgba(10, 10, 10, .08);
  box-shadow: 0 4px 12px rgba(10, 10, 10, .08);
  transition-duration: 0.5s;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-color: transparent;
  background-color: #fff;
  border-radius: 18px;
  margin-bottom: 50px;
  position: relative;
  font-family: "Inter", sans-serif;
}

.prod-child.prod-item-1 {
  margin-bottom: 20px;
}

.how-it-work {
  margin-bottom: 35px;
  background-color: #e7e6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
}

.prod-child:hover {
  box-shadow: 0 10px 14px rgba(66, 85, 217, .15);
  border-color: #dce0ea;
}

.h-tag {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.09));
  border-radius: 6px;
  background-color: #fff;
}

.h-tag.sub {
  background-color: transparent;
}

.prod-heading-tag {
  clip-path: polygon(100% 0, 70% 100%, 0 150%, 0 100%, 0 0);
  z-index: 10;
}

.prod-heading-tag::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  width: 5px;
  border-bottom: 5px solid transparent;
}

.heading-tag-text {
  border-radius: 6px;
  margin-left: -20px;
  padding-left: 15px;
  font-family: "Noto Sans", sans-serif;
}

.prod-content {
  color: #3e434a;
}

.hex-wrap {
  width: 49.5px;
  height: 27.225px;
  background-color: #fef3c7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #f69b02;
}

.hex-wrap::before,
.hex-wrap::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 24.75px solid transparent;
  /* Giảm 10% từ 27.5px */
  border-right: 24.75px solid transparent;
  /* Giảm 10% từ 27.5px */
}

.hex-wrap::before {
  bottom: 100%;
}

.hex-wrap::after {
  top: 100%;
  width: 0;
}

.hex-num {
  font-size: 28px;
  font-weight: 800;
}

.heading-poligon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 15px 30px 60px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}

.store-add {
  width: 100%;
  box-shadow: 2px 2px 20px 3px rgb(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 99999;
  border-radius: 10px;
  right: -15px;
  margin-top: 10px;
}

.prod-item ul,
.prod-item ul li {
  list-style: disc;
  margin-left: 10px;
}

.prod-item ul li {
  margin-top: 4px;
}

.discount-tag {
  line-height: 1.2;
}

.noicon-tag-left {
  display: none;
}

.noicon-tag-right {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  padding-right: 20px;
  clip-path: polygon(0 0, 100% 0%, 92% 50%, 100% 100%, 0 100%, 0 50%);
  background-color: #4f72ce;
}

.tag-has-poligon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  width: 5px;
  border-bottom: 5px solid transparent;
  border-right: 6px solid #3757a9;
}

.noicon-tag-right>span {
  padding-left: 5px;
  color: #fff;
}

.summary-content h2 {
  margin: 50px 0 25px;
}

.summary-content h2:first-child {
  margin-top: 0;
}

.summary-content h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.summary-content p {
  margin-bottom: 14px;
}

.summary-content ul {
  margin-left: 40px;
}

.summary-content li {
  list-style-type: disc;
}

.mob-footer-menu {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  transition: all .4s;
  opacity: 0;
  left: 20px;
  right: 20px;
  padding: 15px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateY(100%);
}

.mob-footer-menu.active {
  transition: all .4s;
  opacity: 1;
  transform: translateY(0%);
}

.related-prod-child {
  box-shadow: 1px 1px 12px rgba(10, 10, 10, 0.1);
  padding: 20px;
  border-radius: 16px;
}

@media (max-width: 1024px) {
  .heading-poligon {
    padding: 10px 20px 40px;
  }

  .large-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {

  .post-title {
    font-size: 1.75rem;
  }

  .heading-poligon {
    border-top-right-radius: 18px;
    padding: 10px 12px 44px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .store-add {
    right: unset;
  }

  .related-prod-child {
    padding: 12px;
  }
}

