#single-entry-content {
  :where(h2, h3, h4):not(:where([class~="not-prose"] *)) {
    @apply scroll-mt-10 lg:scroll-mt-24;
  }

  iframe {
    @apply max-w-full;
  }
}

.not-prose {
  @apply text-base font-normal text-neutral-900 dark:text-neutral-100;
}

.content-gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 128px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.large-width {
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
}

.post-title {
  color: #242e3f;
  text-transform: capitalize;
}

.heading-share-icon {
  background-color: rgba(249, 250, 251, .949);
  border-color: rgb(221 225 230)
}

.prod-child {
  transition: all .4s;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-color: transparent;
  background-color: #fff;
  padding-bottom: .5rem;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.prod-item .prod-child:last-child {
  display: none;
}

.prod-child p:first-child:not(.title-desc) {
  display: none !important;
}

.prod-child.prod-item-1 {
  margin-bottom: 20px;
}

.how-it-work {
  margin-bottom: 35px;
  background-color: #f0f6fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
}

.prod-child:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-color: #dce0ea;
  transition: all .4s;
}

.h-tag {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.09));
  border-radius: 6px;
  background-color: #fff;
  top: -16px;
  left: -6px;
}

.h-tag span {
  font-size: 16px;
  color: #242e3f;
}

.h-tag.sub {
  background-color: transparent;
}

.prod-heading-tag {
  clip-path: polygon(100% 0, 70% 100%, 0 150%, 0 100%, 0 0);
  z-index: 10;
  width: 42px;
  height: 32px;
}

.prod-heading-tag::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  width: 5px;
  border-bottom: 5px solid transparent;
}

.heading-tag-text {
  border-radius: 6px;
  margin-left: -20px;
  padding-left: 15px;
}

.prod-content {
  color: #3e434a;
}

.prod-content p {
  line-height: 24px;
}

.hex-wrap {
  width: 44.55px;
  height: 24.5025px;
  background-color: #fef3c7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #f69b02;
}

.hex-wrap::before,
.hex-wrap::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 22.275px solid transparent;
  border-right: 22.275px solid transparent;
}

.hex-wrap::before {
  bottom: 100%;
}

.hex-wrap::after {
  top: 100%;
}

.skeleton-card {
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
}

.more-deals-btn {
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border: 0px solid #f2f4f7;
  border-top-width: 1px;
}

@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.skeleton-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: youtubeShimmer 1.2s infinite;
}

@keyframes youtubeShimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.hex-num {
  font-size: 24px;
  font-weight: 800;
}

.heading-poligon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px 20px 42px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
  color: #2b509f;
  background-color: #f0f6fd;
}

.store-add {
  width: 100%;
  box-shadow: 2px 2px 20px 3px rgb(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 99999;
  border-radius: 10px;
  right: -15px;
  margin-top: 10px;
}

.prod-item ul,
.prod-item ul li {
  list-style: disc;
  margin-left: 10px;
  font-size: 16px;
}

.prod-item ul li {
  margin-top: 10px;
}

.count-num {
  top: 80px;
  left: -22.5px;
}

.discount-tag {
  line-height: 1.2;
  background-color: #f13549 !important;
}

.noicon-tag-left {
  display: none;
}

.noicon-tag-right {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  padding-right: 20px;
  clip-path: polygon(0 0, 100% 0%, 92% 50%, 100% 100%, 0 100%, 0 50%);
  background-color: #4f72ce;
}

.tag-has-poligon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  width: 5px;
  border-bottom: 5px solid transparent;
  border-right: 6px solid #3757a9;
}

.noicon-tag-right>span {
  padding-left: 5px;
  color: #fff;
}

.check-price-button {
  min-height: 42px;
}

table {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  overflow: scroll;
}

table tr th,
table tr td {
  border: 1px solid;
  padding: 12px !important;
  text-align: left;
}

.pros-cons-table {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.pros-cons-table .pros-cons-item {
  width: 50%;
}

.pros-cons-table .pros-cons-item div {
  padding: 12px 12px 12px 0;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.pros-cons-table .pros-cons-item div:first-child {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px;
  margin-bottom: 15px;
}

.pros-cons-table .pros-cons-item div svg {
  margin-top: 2px;
  min-width: 20px;
}

.pros-cons-table .pros-cons-item div:first-child svg {
  display: none;
}

.summary-content a {
  color: #3f3fef;
  text-decoration: underline;
}

.summary-content b {
  font-weight: bold !important;
}

.summary-content img {
  max-width: 652px;
  width: 100%;
  margin: auto;
  border-radius: 12px;
}

.summary-content iframe {
  max-width: 652px;
  width: 100%;
  height: 360px;
  margin: auto;
}

.summary-content a:hover {
  color: #2323c4;
  transition: all 0.3s;
}

.summary-content h2 {
  margin: 40px 0 25px;
}

.summary-content h2:first-child {
  margin-top: 0;
}

.summary-content h3 {
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}

.summary-content h4 {
  margin-bottom: 0.75em;
}

.summary-content p {
  margin-bottom: 1.5em;
  font-size: 17px;
  line-height: 28px;
}

.summary-content ul+p,
.summary-content ol+p {
  margin-top: 10px;
}

.summary-content ul,
.summary-content ol {
  margin-left: 40px;
  line-height: 28px;
  margin-bottom: 30px;
}

.summary-content ul li {
  list-style-type: disc;
  margin-bottom: 20px;
}

.summary-content ul li:last-child {
  margin-bottom: 0;
}

.summary-content ol li {
  list-style-type: decimal;
  margin-bottom: 10px;
}

.summary-content ol li:last-child {
  margin-bottom: 0;
}

footer .container {
  max-width: 1200px;
}

.mob-footer-menu {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  transition: all .4s;
  opacity: 0;
  left: 20px;
  right: 20px;
  padding: 15px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateY(100%);
}

.mob-footer-menu.active {
  transition: all .4s;
  opacity: 1;
  transform: translateY(0%);
}

.related-prod-child {
  box-shadow: 1px 1px 12px rgba(10, 10, 10, 0.1);
  padding: 20px;
  border-radius: 16px;
  background-color: #fff;
}

.category-child-item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
}

.category-child-image {
  transition: all .4s;
}

.category-child-item:hover .category-child-image {
  transform: scale(1.1);
  transition: all .4s;
}

.category-child-item h4 {
  transition: all .4s;
}

.sec-3 p:last-child {
  display: none !important;
}

.category-child-item:hover h4 {
  text-decoration: underline;
  transition: all .4s;
}

.accordion {
  margin-bottom: 24px;
}

.accordion-container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  border: 3px solid #e0e0e0;
  border-radius: 24px;
  overflow: hidden;
}


.accordion-item {
  width: 100%;
}

.accordion-trigger {
  width: 100%;
  display: block;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
  padding: 24px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  text-align: left;
  border: none;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-icon {
  transition: transform 0.5s;
}

.accordion-item[open] .accordion-icon {
  transform: rotate(45deg);
}

.accordion-item:not(:first-of-type) .accordion-trigger {
  border-top: 3px solid #eaeaea;
}

.accordion-content p {
  margin: 24px;
}

.related-prod-image {
  transition: all .4s;
}

.related-prod-child:hover .related-prod-image {
  transform: scale(1.1);
  transition: all .4s;
}

.specs-container {
  background-color: #fff5ec !important;
}

.specs-container,
.features-details {
  font-size: 16px;
}

.specs-container span,
.features-details span {
  color: #42495f;
}

.specs-container span.spec-point {
  color: #205bad;
}

.specs-container p {
  display: none;
}

.max-h-content {
  transition: max-height 0.7s ease;
  max-height: 276px;
  overflow: hidden;
}

.prod-image {
  max-height: 94px;
  border-radius: 8px;
  width: auto;
  max-width: 160px !important;
}

.category-box-child {
  box-shadow: 0 0 30px rgba(10, 10, 10, 0.1);
  padding: 1.5rem 1rem;
  border-radius: 12px;
}

.category-image {
  transition: all .4s;
}

.category-box-child:hover>.category-image {
  transform: scale(1.1);
  transition: all .4s;
}

.over-scroll-right {
  box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.5);
}

.cate-child-box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  padding: 12px 16px;
}

.cate-child-box:hover {
  color: #2c5bb3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.cate-child-box:focus {
  color: #2c5bb3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.category-item-parent {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .05);
  border-radius: 8px;
  transition: all .4s;
}

.category-item-parent:hover {
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, .07);
  border-radius: 6px;
  transition: all .4s;
}

.category-item-parent img {
  transition: all .4s;
}

.category-item-parent:hover img {
  transform: scale(1.1);
  transition: all .4s;
}

.main-highlight-item {
  padding-bottom: 16px;
}

.toggle-button {
  display: flex;
  color: #0a7ced;
  padding-top: 1rem;
}

.toggle-button.mob {
  display: none;
}

@media (max-width: 1024px) {
  .heading-poligon {
    padding: 10px 20px 40px;
  }

  .large-width {
    padding-left: 20px;
    padding-right: 20px;
  }


}

@media (max-width: 767px) {
  .prod-child {
    padding-bottom: 0;
    border-right-width: 0;
  }

  .toggle-button {
    display: none;
  }

  .toggle-button.mob {
    display: flex;
    padding-top: 0;
  }

  .prod-feature {
    padding-top: 2.5rem;
    width: calc(100% - 90px);
  }

  .post-title {
    font-size: 1.75rem;
  }

  .heading-poligon {
    border-top-right-radius: 18px;
    padding: 10px 12px 44px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .store-add {
    right: unset;
  }

  .related-prod-child {
    padding: 12px;
  }

  .article_menu {
    box-shadow: 0 7px 20px rgba(0, 0, 0, .1);
    border-radius: 8px;
  }

  .pros-cons-table {
    flex-direction: column;
  }

  .pros-cons-table .pros-cons-item {
    width: 100%;
  }

  .summary-content iframe {
    height: 300px;
  }

  .more-deals-btn {
    border-bottom: 1px solid #f2f4f7;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
  }
}